ion-content{
    --background: #261c25 !important;  
    backdrop-filter: blur(5px) !important;
}

.Container{
    background-color: #443640 !important; 
    backdrop-filter: saturate(180%) blur(0px);
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
    font-size: x-large;
    padding: 2vh 0vh;
    font-size: x-large;
    color: white !important;
    filter: brightness(1.1);
    margin: 0.83%;
}

.Container2{
    background-color:#4cc2ff!important; 
    backdrop-filter: saturate(180%) blur(0px);
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
    font-size: x-large;
    padding: 2vh 0vh;
    font-size: x-large;
    color: white !important;
    margin: 0.83%;
}

.Container3{
    background-color:#3c2d35 !important; 
    backdrop-filter: saturate(180%) blur(0px);
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
    font-size: x-large;
    padding: 2vh 0vh;
    font-size: x-large;
    color: white !important;
    margin: 0.83%;
}

.controls{
    position: absolute;
    bottom: 2px;
    width: 100%;
}


ion-grid{
    padding: 0%;
}


.icons{
    font-size: 30px;
    color: white;

    icon-col{
        margin: 0px !important;
    }

    .rtg{
        position: absolute;
        right: 3vw;
        top: 2vw;
    }
}


.det{
    position: relative;
    top: 42%;
    left: 90%;
    font-size: 30px;
    color: white !important;
}


.messg{
    padding: 2vh;
    color: white !important;
    text-align: start;
    font-size: x-large;
}